---
import { Dot } from "@lucide/astro";
---

<footer
    class="w-full flex justify-between px-2 lg:px-12 max-w-5xl lg:border-x-2 border-t-2 pt-4 pb-8 border-acclight/50 dark:border-accdark/50 text-sm md:text-base"
>
    <p class="flex items-center">&copy; 2025 <Dot /> Quite Fragments</p>
    <div class="flex items-center">
        <a href="/about" class="text-acclight dark:text-accdark">About</a>
        <Dot />
        <a href="/rss.xml" class="text-acclight dark:text-accdark">RSS</a>
    </div>
</footer>
