---
import { Rainbow } from "@lucide/astro";
---

<header
    class="flex justify-between items-center w-full max-w-5xl pt-2 pb-4 px-2 lg:px-12 lg:border-x-2 border-b-2 border-acclight/50 dark:border-accdark/50"
>
    <h1 class="text-lg lg:text-2xl font-black">
        <a href="/" aria-label="Go to Quite Fragments homepage"
            >Quite Fragments</a
        >
    </h1>
    <nav>
        <a href="/appearance" aria-label="Change appearance settings"
            ><Rainbow class="text-acclight dark:text-accdark" /></a
        >
    </nav>
</header>
