---
import { SquareArrowUpRight } from "@lucide/astro";
const { title, description, url } = Astro.props;
---

<div
    class="px-2 lg:px-12 pb-4 flex items-center justify-center flex-col text-xs md:text-base lg:text-lg"
>
    <p class="mb-4 text-fglight dark:text-fgdark font-medium text-center">
        Liked this fragment? Share it with friends!
    </p>

    <div class="bg-acclight/25 overflow-hidden p-1 rounded-lg">
        <button
            id="share_button"
            class="px-4 py-2 rounded-lg bg-acclight/50 text-fglight dark:text-fgdark dark:bg-accdark/50 hover:bg-transparent hover:scale-110 flex items-center gap-2 transition-all duration-300"
            data-title={title}
            data-text={description}
            data-url={url}
        >
            <SquareArrowUpRight />
            Share this fragment
        </button>
    </div>

    <script is:inline>
        const btn = document.getElementById("share_button");
        const shareData = {
            title: btn.dataset.title,
            text: btn.dataset.text,
            url: btn.dataset.url,
        };

        btn.addEventListener("click", async () => {
            console.log(shareData);
            if (navigator.share) {
                try {
                    await navigator.share(shareData);
                } catch (err) {
                    console.error("Share cancelled", err);
                }
            } else {
                try {
                    await navigator.clipboard.writeText(shareData.url);
                    alert("Link copied to clipboard!");
                } catch (err) {
                    console.error("Failed to copy", err);
                }
            }
        });
    </script>
</div>
