---
const { url } = Astro.props;

// Helper to extract IDs
function getYouTubeId(url: string) {
    let match = url.match(/youtu\.be\/([^?]+)/);
    if (match) return match[1];

    match = url.match(/\/embed\/([^?]+)/);
    if (match) return match[1];

    match = url.match(/[?&]v=([^&]+)/);
    if (match) return match[1];

    return url;
}

const id = getYouTubeId(url);
---

<div
    class="p-1.5 md:p-3 bg-acclight/15 dark:bg-accdark/15 rounded-lg border-2 border-fglight/25 dark:border-fgdark/25"
>
    <iframe
        class="w-full aspect-video rounded-lg"
        src={`https://www.youtube-nocookie.com/embed/${id}`}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
</div>
