---
import Layout from "./Layout.astro";
const data = Astro.props;
---

<Layout>
    <article
        class="prose max-w-none prose-blockquote:border-acclight/50 dark:prose-blockquote:border-accdark/50 prose-blockquote:text-fglight dark:prose-blockquote:text-fgdark prose-headings:text-fglight dark:prose-headings:text-fgdark md:prose-lg lg:prose-xl prose-h1:text-3xl md:prose-h1:text-4xl lg:prose-h1:text-5xl prose-slate text-fglight dark:text-fgdark dark:prose-invert divide-y-2 divide-acclight/50 dark:divide-accdark/50"
    >
        <h1 class="text-center py-6">{data.content.title}</h1>
        <div class="px-2 lg:px-12">
            <slot />
        </div>
    </article>
</Layout>
